<!doctype html>
<html lang="en">
  <head>
    <title>Cube-Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />

    <style media="screen">
      #first{
        background-color: #ff5353;
        margin-bottom: 0px;
      }
      #users{
        cursor: pointer;
      }
      #second{
        background-image: url('/img/logo.png');
        background-repeat: no-repeat;
        font-family: Amaranth;
        font-size: 1.2em;
      }
      #heading {
        font-family: Amaranth;
      }
      .sign-in{
        font-family: Segoe UI;
      }
      .sign-in img{
        height: 40px;
        border-right: 1px solid;
        padding-right: 4px;
      }
      #google{
        background-color: #DC4B38;
      }
      #github{
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <div id="first" class="jumbotron jumbotron-fluid text-center text-white">
      <h1 id="heading" class="display-1">Cube-Room</h1>
      <p id="description" class="lead">A place where you can cube all your friends, online.</p>
    </div>
    <div id="second" class="jumbotron jumbotron-fluid text-center">
      <p id="jingle">Do you cube? If you do, cube with me and <span id="users" class="text-primary" title="User count"><b><%= users %></b></span> others too.<br>Sign into my Cube-Room!</p>
      <p class="lead">
        <a id="google" class="btn btn-lg sign-in text-white" href="/auth/google" role="button"><img src="/img/google.jpg" alt="Sign in with google"/> With Google</a>
      </p>
      <p class="lead">
        <a id="github" class="btn btn-lg sign-in text-dark" href="/auth/github" role="button"><img src="/img/github.svg" alt="Sign in with google"/> With GitHub</a>
      </p>
    </div>
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Rubik%27s_cube_scrambled.svg/1200px-Rubik%27s_cube_scrambled.svg.png" alt="It's me logo. logo logo logo logo logo"> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
