header {
  background-color: #ff5353;
}

#heading {
  color: white;
  padding-top: 2px;
  position: absolute;
  cursor: pointer;
  font-family: Amaranth;
}

#thumbnail {
  display: inline;
  cursor: pointer;
  height: 50px;
  background-color: #f74040;
  padding: 5px;
  margin-top: -5px;
}

#profile-dropdown {
  display: inline;
  position: absolute;
  right: 15px;
  padding-top: 10px;
}

#logo {
  height: 60px;
}

a:hover {
  text-decoration: none;
}

.dropdown-item.disabled {
  margin-bottom: 0px;
}

.dropdown-header {
  padding-top: 2px;
}
